
<%- include('partials/Header', {title: "WELCOME TO HOTELKU"}) %>

<main>
	<section class="hero">
		<div class="hero-content">
			<h2>Selamat datang di HOTELKU</h2>
			<p>Temukan tempat menginap sempurna dengan mudah dan cepat.</p>
			<p>Kami memahami bahwa perjalanan Anda dimulai sebelum Anda menginjakkan kaki di hotel.</p>
			<p>Itulah mengapa kami menawarkan pengalaman reservasi hotel yang cepat, sederhana, dan bebas stres.</p>
			<p>Dengan berbagai pilihan akomodasi dari seluruh dunia, Anda bisa menemukan tempat yang sesuai dengan kebutuhan dan anggaran Anda, tanpa harus repot.</p>
		</div>
	</section>
	<section class="features">
		<div class="container">
			<div class="feature">
				<h3>Banyak Pilihan Hotel</h3>
				<p>Pilih hotel sesuai dengan budget dan kebutuhan Anda</p>
			</div>
			<div class="feature">
				<h3>Harga Terbaik</h3>
				<p>Dapatkan harga terbaik dari kami</p>
			</div>
			<div class="feature">
				<h3>Booking Instant</h3>
				<p>Pesan hotel denga beberapa klik saja</p>
			</div>
		</div>
	</section>
</main>

<%- include('partials/Footer') %>




<!-- <h1>HOTELKU</h1>
  <h2>
	Selamat datang di HOTELKU
	Temukan tempat menginap sempurna dengan mudah dan cepat
  </h2>
  <h2>
	Di HOTELKU, kami memahami bahwa perjalanan Anda dimulai sebelum Anda menginjakkan kaki di hotel. Itulah mengapa kami menawarkan pengalaman reservasi hotel yang cepat, sederhana, dan bebas stres. Dengan berbagai pilihan akomodasi dari seluruh dunia, Anda bisa menemukan tempat yang sesuai dengan kebutuhan dan anggaran Anda, tanpa harus repot.
  </h2>
  <h2>
	Apakah Anda merencanakan liburan santai, perjalanan bisnis, atau hanya membutuhkan tempat singgah sementara, HOTELKU siap membantu Anda. Masukkan tujuan Anda, pilih tanggal, dan temukan hotel yang sempurna untuk kebutuhan Anda.
	Jadwalkan Pengalaman Menginap Anda Sekarang!
  </h2> -->

  <!-- <form action="#" method="get">
	<input type="text" placeholder="Enter destination" required>
	<input type="date" placeholder="Check-in date" required>
	<input type="date" placeholder="Check-out date" required>
	<button type="submit">Search</button>
</form> -->