
<%- include('partials/Header', {title: "WELCOME TO HOTELKU"}) %>

<main>

	<section class="hero">
		<div class="hero-content">
			<h2>Selamat datang di HOTELKU</h2>
			<p>Temukan tempat menginap sempurna dengan mudah dan cepat.</p>
			<p>Kami memahami bahwa perjalanan Anda dimulai sebelum Anda menginjakkan kaki di hotel.</p>
			<p>Itulah mengapa kami menawarkan pengalaman reservasi hotel yang cepat, sederhana, dan bebas stres.</p>
			<p>Dengan berbagai pilihan akomodasi dari seluruh dunia, Anda bisa menemukan tempat yang sesuai dengan kebutuhan dan anggaran Anda, tanpa harus repot.</p>
		</div>
	</section>

	<section class="features">
		<div class="container">
			<div class="feature">
				<h3>Banyak Pilihan Hotel</h3>
				<p>Pilih hotel sesuai dengan budget dan kebutuhan Anda</p>
			</div>
			<div class="feature">
				<h3>Harga Terbaik</h3>
				<p>Dapatkan harga terbaik dari kami</p>
			</div>
			<div class="feature">
				<h3>Booking Instant</h3>
				<p>Pesan hotel dengan beberapa klik saja</p>
			</div>
		</div>
	</section>

	<section class="abouts">
		<div class="container">
			<div class="feature">
				<h3>Hubungi kami</h3>
			</div>
		</div>
		<div class="container">
			<div class="feature">
				<img src="https://www.svgrepo.com/show/510342/whatsapp.svg" width="50">
				<p>0812-3456-7891</p>
			</div>
			<div class="feature">
				<img src="https://www.svgrepo.com/show/511921/email-1573.svg" width="50">
				<p>cs@hotelku.com</p>
			</div>
		</div>
	</section>
</main>

<%- include('partials/Footer') %>