<%- include('partials/Header', {title: "Register"}) %>
<%- include('partials/Navbar') %>
<div class="container">
  <% if (errors) { %>
      <% errors.forEach((e) => { %>
        <div class="alert alert-danger" role="alert">
          <%= e %>
        </div>
      <% }) %>
    <%}%>
  <form action="/register" method="post">
    <div class="mb-3 mt-3">
      <label for="inputEmail" class="form-label" style="background-color: wheat;">Email address</label>
      <input type="email" class="form-control" id="inputEmail" name="email">
    </div>
    <div class="mb-3">
      <label for="inputUsername" class="form-label" style="background-color: wheat;">Username</label>
      <input type="text" class="form-control" id="inputUsername" name="username">
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label" style="background-color: wheat;">Password</label>
      <input type="password" class="form-control" id="inputPassword" name="password">
    </div>
    <button type="submit" class="btn btn-primary">REGISTER</button>
  </form>
</div>
<%- include('partials/Footer') %>