* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background: url("/img/room4.jpg") no-repeat center center/cover
}

body {
  display: flex;
  flex-direction: column;
}

/* =============================================================================== */

.hero {
  background: url("/img/lobby1.jpg") no-repeat center center/cover;
  background-blend-mode: darken;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
}

.hero-content {
  max-width: 900px;
  margin: 0 auto;
  text-shadow:
        1px 1px 0 #000, 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
}

.hero h2 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 15px;
  line-height: 1.8;
}

/* =============================================================================== */

.features {
  background-color: #fff;
  padding: 40px 20px;
}

.features .container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.features .container .feature{
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  flex: 1 1 300px;
}

.features .container .feature h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.features .container .feature p {
  font-size: 1rem;
  color: #555;
}

/* =============================================================================== */

.abouts {
  background-color: #fff;
  padding: 40px 20px;
}

.abouts .container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.abouts .container .feature {
  background: #fff;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  padding: 20px;
  text-align: center;
  /* flex: 1 1 100px; */
  flex: 1 1 50px;
}

.abouts .container .feature h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.abouts .container .feature p {
  font-size: 1rem;
  color: #555;
}

/* =============================================================================== */

footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  margin-top: auto; 
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
}